.selecao-de-personagens{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
       /* gap: 30px;
min-height: calc(100vh - 152px);*/
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.personagens{
    height: 48%;
    width: 88%;
    background-color: #4444;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.top02area{
    position: absolute;
    top: 5%;
}
.bottom02area{
    position: absolute;
    bottom: 5%;
}
.personagem-selecionado{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    text-align: center;
    height: 48%;
    width: 88%;
}
.personagem-selecionado .personagem-grande{
    width: 80%;
    height:90%;
}
.informacoes-personagem{
    width: 100%;
    height: 40%;
}
.personagem{
    width: 15%;
    height: 24%;
    background-color: aliceblue;
    margin: 2%;  
}
.lista-de-personagens{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%;
    flex-wrap: wrap;    
    gap: 30px;
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para Internet Explorer e Edge */
    overflow: auto; /* Permite a rolagem */
    overflow: hidden;
    overflow-y: scroll;
    
}/*
.selecao-de-personagens .lista-de-personagens{
    display: flex;
    
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.selecao-de-personagens .personagens{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap: 25px;
}
.selecao-de-personagens .personagens .titulo{
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #47f4ff;
    width: 100%;
    text-align: center;
}
.lista-de-personagens .personagem img{
    width: 100%;
    height: 100%;
}
.lista-de-personagens  .personagem.selecionado{
    box-shadow: 0px 0px 24px 5px #0271f7;
}*/

/*

.personagem-selecionado .nome-personagem{
    border-bottom: 2px solid #47f4ff;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.personagem-selecionado .descricao-persoagem{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 420px;
}*/