*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Peso padrão, ajuste conforme necessário */
    font-style: normal;
}
.absolute{
    position: absolute;
}
.somb{
    box-shadow: 1px 2px 6px #000;
}
ul{
    list-style: none;
}
.selecionado{
    border:2px solid #fff;
    box-shadow: 0px 0px 10px #fff;
}